body {
  margin: 0;
  background-color: black;
  color: white;
}

section {
  height: 90vh;
  background-image: url("./tinywow_change_bg_photo_50112647.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

header {
  background-color: rgba(21, 17, 17, 0.869);
  display: flex;
  align-items: center;
  width: 100%;
}

.lab {
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  flex: 1;
}

.coding1 {
  flex: 1;
  text-align: right;
  margin-right: 40px;
}

.coding {
  margin: 10px;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.create {
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 5px;
}

.amaze {
  color: white;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

.css {
  color: white;
  font-size: 45px;
  padding-left: 50px;
  text-align: center;
}

.more {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: 1px double white;
  border-radius: 3px;
  margin-right: 5px;
  font-family: sans-serif;
  font-size: 20px;
}

.more2 {
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px double white;
  margin-left: 5px;
  font-family: sans-serif;
  font-size: 20px;
}

nav {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

.menu {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: none;
}

.mobile-nav {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1%;
  left: 75%;
  margin-top: 3px;
  border-radius: 10px;
  display: none;
}

.mobile-nav li a {
  background-color: whitesmoke;
  margin-top: 15px;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

@media all and (max-width: 768px) {
  .lab {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .menu {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    margin-right: 60px;
    list-style: none;
  }

  .menu :hover {
    background-color: black;
    transition: 0.5s ease-in-out;
  }

  .menu :hover .mobile-nav {
    display: flex;
    position: absolute;
  }

  ul {
    list-style: none;
  }

  .mobile-nav {
    display: none;
    width: 15vw;
  }

  .coding1 {
    flex: 1;
    text-align: right;
    margin-right: 40px;
    display: none;
  }
}

@media all and (max-width: 430px) {
  .lab {
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .menu {
    background-color: white;
    border-radius: 5px;
    display: flex;
    margin-right: 80px;
  }

  .menu-ul-li-a {
    color: black;
  }

  .coding1 {
    flex: 1;
    text-align: right;
    margin-right: 40px;
    display: none;
  }

  .amaze {
    font-size: 30px;
    text-align: center;
  }

  .css {
    font-size: 30px;
    text-align: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 75px;
  }

  button {
    width: 50vw;
    text-align: center;
    margin-bottom: 10px;
  }
}
